[submodule "vendored/SDL_shadercross"]
	path = vendored/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/tracy"]
	path = vendored/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "vendored/RmlUi"]
	path = vendored/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "vendored/SDL_image"]
	path = vendored/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
